<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ConnStringLocal" connectionString="Server=localhost;Database=tp2_net;Integrated Security=false; User=net; Password=net;"
   providerName="System.Data.SqlClient" />
  <add name="ConnStringExpress" connectionString="Data Source = localhost\SqlExpress; Initial Catalog = academia; Integrated Security = true;"
   providerName="System.Data.SqlClient" />
  <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=false; User=net; Password=net;"
   providerName="System.Data.SqlClient" />
  <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString"
   connectionString="Data Source=localhost\SQLExpress;Initial Catalog=Academia;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>